body {
	padding: 100px 0px 200px 0px;
}
#experiment {
	perspective: 800;
	perspective-origin: 50% 200px;
  	-webkit-perspective: 800;
  	-webkit-perspective-origin: 50% 200px;
  	-moz-perspective: 800px;
  	-moz-perspective-origin: 50% 50%;
}
#cube {
	position: relative;
	margin: 0 auto;
	height: 400px;
	width: 400px;
	transition: -webkit-transform 2s linear;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 2s linear;
	-webkit-transform-style: preserve-3d;
	-moz-transition: -moz-transform 2s linear;
	-moz-transform-style: preserve-3d;
 }
.face {
	position: absolute;
	height: 360px;
	width: 360px;
	padding: 20px;
	background-color: rgba(50, 50, 50, 0.7);
}
#cube_one  {
	transform: translateZ(200px);
  	-webkit-transform: translateZ(200px);
  	-moz-transform: translateZ(200px);
}
#cube_two {
	transform: rotateX(90deg) translateZ(200px);
    -webkit-transform: rotateX(90deg) translateZ(200px);
  	-moz-transform: rotateX(90deg) translateZ(200px);
}
#cube_three {
	transform: rotateY(90deg) translateZ(200px);
  	-webkit-transform: rotateY(90deg) translateZ(200px);
  	-moz-transform: rotateY(90deg) translateZ(200px);
}
#cube_four {
	transform: rotateY(180deg) translateZ(200px);
  	-webkit-transform: rotateY(180deg) translateZ(200px);
  	-moz-transform: rotateY(180deg) translateZ(200px);
}
#cube_five {
	transform: rotateY(-90deg) translateZ(200px);
  	-webkit-transform: rotateY(-90deg) translateZ(200px);
  	-moz-transform: rotateY(-90deg) translateZ(200px);
}
#cube_six {
	transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
  	-webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
  	-moz-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}

/* Other rules */
footer {
	position: absolute;
	width: 96%;
	height: 200px;
	border: 2px dotted green;
	bottom: 0px;
}